Webhooks refuse IPv6 URLs as invalid

- Gogs version (or commit ref): 0.10.31.0327 / 0.11 RC
- Git version: 2.1.4
- Operating system: debian jessie
- Database (use `[x]`):
  - [ ] PostgreSQL
  - [X] MySQL
  - [ ] MSSQL
  - [ ] SQLite
- Can you reproduce the bug at https://try.gogs.io:
  - [X] Yes (provide example URL) - create a new repo and try to add a webhook to the URL below. For example, try it on https://try.gogs.io/sanfred/herpaderpa/settings/hooks/gogs/new
  - [ ] No
  - [ ] Not relevant
- Log gist (usually found in `log/gogs.log`): no relevant entry

## Description
I'm trying to add a webhook with a URL that looks like this:
`http://[2002:d572:90f9:0:a00:26ff:feab:c501]:8080/gogs-webhook/?job=ci-test`

I get the following error message, and cannot continue:
> PayloadURL is not a valid URL.

As far as I know, this URL is valid. It works with firefox and curl with no warnings.

It's worth noting that [Go's standard library accepts this format for URL](https://play.golang.org/p/pF_VIGu69y). Maybe some regex or other filter doesn't think `[]` are valid characters in a URL.

[RFC 3986 Section 3.2.2](https://tools.ietf.org/html/rfc3986#section-3.2.2) describes a valid URL.

Patch has pushed to fix this issue, please test on `develop` branch or https://try.gogs.io.